body {
    font-family: Arial, sans-serif;
    width: 1440px;
    height: 900px;
    background-color: #000000;
    margin-left: 80px;
}

#ornament {
    width: 1281px;
    height: 900px;
    background: url('files/Ornament.svg') repeat-x;
}

#minTabs {
    position: absolute;
    height: 81px;
    top: 198px;
    left: 370px;
    color: #FFFFFF;
    font-family: 'Effra', sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 80px;
    text-align: center;
}

#findTrend {
    position: absolute;
    height: 81px;
    top: 279px;
    left: 430px;
    color: #FFFFFF;
    font-family: 'Effra', sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 80px;
    text-align: center;
}

#parag {
    position: absolute;
    width: 666px;
    height: 54px;
    top: 420px;
    left: 350px;
    color: #8B8B8B;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}

#getStartedBtn {
    position: absolute;
    width: 180px;
    height: 57px;
    top: 540px;
    left: 590px;
    border-radius: 40px;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    background-color: #A8FF35;
    border-color: #A8FF35;
    font-weight: 800;
}

#allResearch {
    position: absolute;
    width: 93px;
    height: 28px;
    top: 520px;
    left: 790px;
    color: #FFFFFF;
    font-family: "GoodDog New W00 Regular";
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    transform: rotate(6deg);
}

#arrow {
    position: absolute;
    width: 28px;
    height: 34px;
    top: 560px;
    left: 790px;
}

#photos {
    position: absolute;
    width: 1076.51px;
    height: 178.25;
    top: 630.48px;
    left: 186px;
}

#twitter {
    position: absolute;
    width: 348.65px;
    top: 70px;
    left: 50px;
}

#pinterest {
    position: absolute;
    width: 348.65px;
    top: 120px;
    left: 200px;
}

#facebook {
    position: absolute;
    width: 348.65px;
    left: 450px;
    top: 70px;
}

#musk {
    position: absolute;
    width: 348.65px;
    left: 620px;
    top: 120px;
}

@media (max-width: 768px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    #getStartedBtn {
        font-size: 14px;
    }
    [class*="col-"] {
        width: 100%;
    }
    body {
        width: 375px;
        height: 812px;
    }
}